form > div{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

    .text_area_ct{
        display: flex;
        flex-direction: column;
    }
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blueviolet;

    .form_ct{
        width: 600px;
        height: 400px;
        border: 2px solid red;
        border-radius: 12px;
    }

}

.inputs_ct{
    max-width: 45%;
    border: 1px solid orange;
    width: fit-content;

    .title_ct{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    .other_inputs{
        display: flex;
        flex-direction: column;
        border: 1px solid green;
    }
}

textarea{
    border: 1px solid;
}