@font-face {
    font-family: "Coolvetica";
    src: url('../../../src/assets/coolvetica\ rg.otf') format('truetype');
}


.container{

    h1{
        margin-left: 15px;
        margin-bottom: 16px;
        font-weight: 500;
        font-family: 'Coolvetica';
    }


    background-color: white;
    //border: 2px solid green;
    min-width: 400px;
    min-height: 100vh;
    max-width: 500px;
    position: absolute;
    right: 0;
    box-shadow: -5px 0 10px 5px rgba(0, 0, 0, 0.187);

    .form_ct{
        //border: 2px solid orange;

        &  button{
            margin-top: 12px;
        }

        label > h4{
            
            margin-top: 12px;
        
        }
    }

    
    .task_data_and_buttons{
        position: absolute;
        //border: 2px solid rgb(19, 0, 193);
        min-height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 15px;
        padding-bottom: 12px;
        
        

        .task_data{
            //border: 3px solid pink;



            .desc_ct{
                max-width: 200px;
                min-height: 100px;
                max-height: 200px;
                background-color: rgb(232, 232, 232);
                //border: 2px solid brown;
                
                border-radius: 8px;
                overflow-y:auto;
            }

            .dates{
                //border: 3px solid pink;
                display: flex;
                justify-content: space-between;
            }
        }

        .exclui_e_editar_btns_ct{
            display: flex;
            justify-content: space-between;
            //border: 3px solid red;
        }
    }
    


    .progress_screen{
        top: 0;
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}

.comeBack_btn{
    //border: 2px solid orangered;
    position: absolute;
    left: -100px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.245);

}



